* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    color: white;
}

body {
    background-color:#70b5d3;
}

h1 {
    font-size: 50px;
    position:relative;top:50px;

}

h3 {
    font-size:20px;
    position:relative;top:300px;
}

h4 {
    font-size:15px;
    position:relative;top:170px;
}

h2 {
    font-size:20px;
    position:relative;left:195px;
    margin-bottom: 30px;
    margin-top: 40px;
}

h5 {
    font-size:25px;
}

p {
    position:relative;top:270px;
}

.display {
    height:100vh;
    background-color:#70b5d3;

}
.capacity {
        position:relative;top:10px;left:200px;
}
.img_left {
    position:relative;bottom:70px;
}

.capacity>img {
    height: 350px;
    margin-right: -200px;
}

.right-side {
    position:relative;top:10px;right:150px;
}

.right-side>h5 {
    position:relative;top:300px;left:195px;
    font-size:40px;
}

button {
    position:relative;bottom:180px;
    height: 50px;
    background-color:white;
    color:#38a6d4;
    padding:5px;
    border:dotted #70b5d3;
    transition:0.5s ease-in-out;
}

button:hover{
    position:relative;bottom:180px;
    height: 50px;
    background-color:#38a6d4;
    color:white;
    padding:5px;
    border:dotted #70b5d3;
    transform:scale(1.1);
}

.nivel_water{
    display:flex;
    position:relative;left:70px;
    height: 350px;
    width:200px;
    border-radius:10px;
    border:1px solid;
}


.nivel_water_intern{
    align-self: flex-end;
    height: 0%;
    width:198px;
    border-radius:10px;
    border:transparent;
    background-color: #38a6d4;
}